name: Build and Push Connectors

on:
  push:
    branches:
      - staging
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Ensure the full history is fetched

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHRC_TOKEN }}

      - name: Detect changed connectors
        id: changes
        run: |
          BASE_BRANCH=$(git rev-parse HEAD~2)
          echo "base branch :: $BASE_BRANCH"
          echo "github SHA is : $GITHUB_SHA"
          CHANGED_DIRS=$(git diff --name-only $BASE_BRANCH $GITHUB_SHA | grep '^airbyte-integrations/connectors/' | cut -d/ -f3 | sort -u)
          echo "Changed connector directories: $CHANGED_DIRS"
          echo "::set-output name=dirs::$CHANGED_DIRS"

      - name: Build and push Docker images
        run: |
          for DIR in ${{ steps.changes.outputs.dirs }}; do
            if [ -d "airbyte-integrations/connectors/$DIR" ]; then
              DOCKERFILE="airbyte-integrations/connectors/$DIR/Dockerfile"
              METADATAFILE="airbyte-integrations/connectors/$DIR/metadata.yaml"
              VERSION=$(grep 'dockerImageTag' $METADATAFILE | cut -d':' -f2 | tr -d '" ')
              NAME=$(grep 'dockerRepository' $METADATAFILE | cut -d':' -f2 | tr -d '" ')
              BRANCH_NAME=${GITHUB_REF#refs/heads/}

              if [ "$BRANCH_NAME" == "staging" ]; then
                VERSION="stg-$VERSION"
              fi

              IMAGE_NAME="ghcr.io/${{ github.repository_owner }}/$NAME:$VERSION"
              echo "Building Docker image for $NAME with version $VERSION..."
              if [ -f "$DOCKERFILE" ]; then
                docker build -t $IMAGE_NAME -f $DOCKERFILE "airbyte-integrations/connectors/$DIR"
                docker push $IMAGE_NAME
              else
                airbyte-ci connectors --name=$DIR build
              fi
            fi
          done
